<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="NOZAKI">
    <meta name="description" content="リジョブのトップページです">
    <meta name="keywords" content="リジョブ,求人,美容">
    <title>野崎研修リジョブ</title>
    <base href="top">
  </head>
  <body>
    <div>
      <h1>Welcome to Rejob</h1>
    </div>

    <div>
      <h1>案件</h1>
        <a href="list">案件一覧へ</a>


  <h2>新規案件</h2>
  <a href="job">案件1タイトル</a>

  <h2>おすすめ案件</h2>
  <a href="job">案件1タイトル</a>

<a href="/login/mypage">マイページログイン</a>


    </div>
  </body>
</html>
