<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="NOZAKI">
    <meta name="description" content="リジョブのトップページです">
    <meta name="keywords" content="リジョブ,求人,美容">
    <title>野崎研修リジョブ</title>
      <%= stylesheet_link_tag "top", :media => "all" %>
  </head>
  <body>
    <div class="header">

    <div class="header-top">
      <div class="container">
        <ul class="header-top__navi">
          <li><a href="/user">新規登録</a></li>
          <li><a href="/logout">ログアウト</a></li>
          <li><a href="/admin_top">adminログイン</a></li>
        </ul>
      </div>
    </div>

    <div class="header-middle container clear">
      <a class="header-middle__logo" href="/top"><img class="logo_header" src="http://auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/ra112/users/5/1/8/9/buffie1019-img600x600-1414479649tcza9m19724.jpg" alt="Logo header"></a>


      <ul class="header-middle__nav">
        <li>
          <a href="/job_keep" rel="nofollow"><i class="icon-attach"></i>キープ
          </a>
        </li>
          <li><a href="/mypage/job_scouts" rel="nofollow"><i class="icon-paper-plane"></i>スカウト管理</a></li>
          <li><a href="/mypage/entries" rel="nofollow"><i class="icon-folder"></i>応募管理</a></li>
          <li><a href="/login/thanks" class="crrent"><i class="icon-user-1"></i>マイページ</a></li>
      </ul>

        </div>
      </div>

<div class="key-visual-top"><img class="happyhappy2016" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/1515282_142478636125723_1131356521_n.jpg" alt="happyhappy2016"></div>


    <div>
      <h1>happyhappy2016</h1>
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <div>
      <h1>案件</h1>
        <a href="list">案件一覧へ</a>


  <h2>新規案件</h2>
  <a href="/job/1">案件1タイトル</a>

  <h2>おすすめ案件</h2>
  <a href="/job/2">案件2タイトル</a>

<a href="/login/thanks">マイページログイン</a>

<a href="image_test">テスト</a>


    </div>
  </body>
</html>
