
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>イメージテスト</title>
      <%= stylesheet_link_tag "top", :media => "all" %>
  </head>
  <body>

    <form method="post" action="image_create" enctype="multipart/form-data">
      <input name="authenticity_token" type="hidden" value="1234" />

    画像名 <input type="text" name="title" size="50"></p>
    <br>
     画像ファイル<input type="file" name="pic">

    <button type="submit">作成</button>
    </form>


  </body>
</html>
