<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>イメージテスト</title>
      <%= stylesheet_link_tag "top", :media => "all" %>
  </head>
  <body>
    <% @image_all.each do |image| %>
    <%= image.filename %>
    <%= image_tag show_image_image_path(image), class: "middle-img" %>
    <% end %>
    <%= image_tag show_image_image_path(image), class: "large-img" %>

  </body>
</html>
