<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新規作成</title>
    <%= stylesheet_link_tag "admin_top", :media => "all" %>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span><span class="icon-bar"></span>
      </button><a class="navbar-brand" href="/admin_top">happyhappy2016管理画面</a>
      <div class="navbar-text"><small><a class="color-off" href="/admin_top">v2</a></small>
      </div>
    </div>
    <ul class="nav navbar-right top-nav">
      <li class="dropdown"><a class="dropdown-toggle"data-toggle="dropdown"><i class="fa fa-user">野崎 優子</i><b class="caret"></b></a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/admin_top">求人管理</a></li>
            <li><a href="/admin_user">求職者管理</a></li>
            <li><a href="/new_edit">新規求人作成</a></li>
          </ul>
        </div>
      </nav>




 <form method="post" action="new_edit/create" enctype="multipart/form-data">
  <input name="authenticity_token" type="hidden" value="1234" />

 <p>タイトル<br>
   <input type="text" name="title" size="50"></p>
</p>

 <p>説明文<br>
 <textarea name="description" cols="50" rows="5">

 </textarea></p>

  <p>都道府県選択<br>
 <select name="area">
   <option selected>▼都道府県選択</option>
     <% Area.all.each do |area| %>
     <!-- オブジェクト.each do |変数| -->
     <!-- <a href="/search?area= -->
   <option value=<%= area.area_name %>><%= area.area_name %><br></option>
     <% end %>
 </select></p>

 <p>写真<br>
<input type="file" name="picture[photo]"></p>



<button type="submit" name="edit">作成</button>


  <!-- <button type="search" name="button"
    style="background-color:peachpuff;width:200px;height:28px;"
    onmouseover="this.style.background='#FF1493'"
    onmouseout="this.style.background='#FFB6C1'">検索！</button> -->
</form>



</div>
</div>
  </body>
</html>
