<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新規作成</title>
    <!-- 透かし文字をvalue属性で設定する -->
  </head>
  <body>


 <form method="post" action="new_edit/create" enctype="multipart/form-data">
  <input name="authenticity_token" type="hidden" value="1234" />

 <p>タイトル<br>
   <input type="text" name="title" size="50"></p>
</p>

 <p>説明文<br>
 <textarea name="description" cols="50" rows="5">

 </textarea></p>

  <p>都道府県選択<br>
 <select name="area">
   <option selected>▼都道府県選択</option>
     <% Area.all.each do |area| %>
     <!-- オブジェクト.each do |変数| -->
     <!-- <a href="/search?area= -->
   <option value=<%= area.area_name %>><%= area.area_name %><br></option>
     <% end %>
 </select></p>

 <p>写真<br>
<input type="file" name="image"></p>



<button type="submit" name="edit">作成</button>


  <!-- <button type="search" name="button"
    style="background-color:peachpuff;width:200px;height:28px;"
    onmouseover="this.style.background='#FF1493'"
    onmouseout="this.style.background='#FFB6C1'">検索！</button> -->
</form>




  </body>
</html>
