<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>案件詳細</title>


  </head>
  <body>
  <div>
<div>
  『<%= @job.title %>』
</div>

<div>
  <%= @job.description %>
</div>

    </div>

    <div>
      <a href="/entry/<%= @job.id %>">エントリーページへ</a><br>

    </div>
  </body>
</html>
