<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>案件詳細</title>


  </head>
  <body>

<div>
  『<%= @job.title %>』
</div>

<div>
  <%= @job.description %>
</div>

    <div>

      <form method="get" action="to_entry/<%= @job.id %>">
       <input name="authenticity_token" type="hidden" value="1234" />
       <button type="submit" name="entry">応募</button>
    </div>
  </body>
</html>
