<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>案件編集確認ページ</title>
  </head>
  <body>
    <hi>確認ページ</hi>
    <input name="authenticity_token" type="hidden" value="1234" />
  </body>
</html>
