<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログインページ</title>
  </head>
  <body>
    login
  <form method="post" action="？？？">

氏名：<input type="text" name="氏名" />
性別：
<input type="radio" name="性別" value="男" /> 男　
<input type="radio" name="性別" value="女" /> 女

 <input type="submit" value="送信" />　



</form>
  </body>
</html>
